

   .form-container{
    width: 50%;
    height: 558.8px;
    /* height: 100%; */
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.form{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form-group{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

  

